@font-face {
  font-family: 'BNazanin';
  src: url('Far_Nazanin.ttf');
}

span {
  direction: rtl;
  text-align: right;
  font-family: 'BNazanin';
  font-size: 120%;
}

p {
  direction: rtl;
  text-align: right;
  font-family: 'BNazanin';
  font-size: 80%;
}
